<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CaseManagerDbContext" connectionString="metadata=res://*/Data.CaseManager.CaseManagerData.csdl|res://*/Data.CaseManager.CaseManagerData.ssdl|res://*/Data.CaseManager.CaseManagerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UU3LGHT;initial catalog=CaseManager;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HRDbContext" connectionString="metadata=res://*/Data.HR.HRData.csdl|res://*/Data.HR.HRData.ssdl|res://*/Data.HR.HRData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UU3LGHT;initial catalog=CaseManager;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>