<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CaseManagerDbContext" connectionString="metadata=res://*/Data.CaseManagerData.csdl|res://*/Data.CaseManagerData.ssdl|res://*/Data.CaseManagerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UU3LGHT;initial catalog=CaseManager;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>